<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row content-div" style="height:400px;overflow:auto;">
        <div class="col-md-12 text-center">
          <h5 class="divheader" style="padding-left: 130px;">
            Client Information
            <button type="button" class="btn advance-settingbtn" [disabled]="proxyButton" (click)="Addproxy()">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <ng-container *ngFor="let att of anArrays; let i = index">
          <div class="col-md-3 margin-left" style="margin-bottom: 15px;">
            <div class="proxy input-group">
              <button
                class="select-close"
                *ngIf="i >= 1"
                (click)="Removeproxys(i)"
                style="top:8px;box-shadow: none;"
                type="button"
              ></button>

              <label class="custom-lbl">Company {{ i + 1 }}</label>
              <input type="text" required class="inpt-cmn form-control" [(ngModel)]="company[i]" />
            </div>
          </div>

          <div class="col-md-3 margin-left" style="margin-bottom: 15px;">
            <div class="input-group">
              <label class="custom-lbl">Subscriber Id</label>
              <input type="text" required class="inpt-cmn form-control" [(ngModel)]="Subscriberid[i]" />
            </div>
          </div>

          <div class="col-md-3 margin-left" style="margin-bottom: 15px;">
            <div class="input-group">
              <label class="custom-lbl">Portfolio</label>&nbsp;&nbsp;
              <ng-multiselect-dropdown
                [placeholder]="'custom placeholder'"
                [data]="dropdownList"
                [(ngModel)]="Portfolio[i]"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row content-div">
        <div class="col-md-12 text-center">
          <h5 class="divheader">Fico Table Information</h5>
        </div>
        <div class="col-md-3 margin-left">
          <label class="custom-lbl">Directory Name</label>

          <select
            id="reject-select"
            class="form-control inpt-cmn"
            placeholder="Select Directory"
            (change)="dirtablechange()"
            [(ngModel)]="Outputtbl"
          >
            <option value="">Select None</option>
            <option *ngFor="let dir of DirName">
              {{ dir }}
            </option>
          </select>
        </div>
        <div class="col-md-3 margin-left">
          <label class="custom-lbl">Table Name</label>
          <select
            id="reject-select"
            class="form-control inpt-cmn"
            placeholder="Select Directory"
            [(ngModel)]="outputemodel"
          >
            <option *ngFor="let tbl of Tablename">
              {{ tbl }}
            </option>
          </select>
        </div>
      </div>

      <div class="row content-div">
        <div class="col-md-12 text-center">
          <h5 class="divheader">Trade Information</h5>
        </div>
        <div
          class="col-md-4 margin-left"
          style="padding-left: 0px;
    font-size: 13px;"
        >
          <label class="custom-lbl"><b>Performance Window</b></label>
        </div>
        <div
          class="col-md-4 margin-left"
          style="padding-left: 218px;
    font-size: 13px;"
        >
          <label class="custom-lbl"><b>Extract To Use</b></label>
        </div>
        <div class="col-md-2.2 margin-left">
          <div class="input-group">
            <label class="custom-lbl">Start Date</label>
            <input
              class="inpt-cmn form-control"
              [(ngModel)]="StartDate"
              style="width:150px"
              placeholder="yyyy-mm-dd"
              readonly
              name="startdt"
              ngbDatepicker
              #d1="ngbDatepicker"
              [placement]="'top'"
            />
            <button
              class="btn btn-outline-secondary calendar"
              (click)="d1.toggle()"
              style="top:8px;box-shadow: none;"
              type="button"
            ></button>
          </div>
          <p *ngIf="req_start_date" class="text-danger error-message" translate>*This field is required</p>
        </div>
        <div class="col-md-2.2 margin-left">
          <div class="input-group">
            <label class="custom-lbl">End Date</label>
            <input
              class="inpt-cmn form-control"
              [(ngModel)]="EndDate"
              style="width:150px"
              placeholder="yyyy-mm-dd"
              readonly
              name="startdt"
              ngbDatepicker
              #d2="ngbDatepicker"
              [placement]="'top'"
            />
            <button
              class="btn btn-outline-secondary calendar"
              (click)="d2.toggle()"
              style="top:8px;box-shadow: none;"
              type="button"
            ></button>
          </div>
          <p *ngIf="req_end_date" class="text-danger error-message" translate>*This field is required</p>
        </div>

        <div class="col-md-2.2 margin-left">
          <div class="input-group">
            <label class="custom-lbl">Base Month</label>

            <select
              id="base_month"
              class="form-control inpt-cmn"
              placeholder="Select Base Month"
              [(ngModel)]="BaseMonth"
            >
              <option *ngFor="let basemonth of basemonthval" [value]="basemonth">
                {{ basemonth }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-2.2 margin-left">
          <div class="input-group">
            <label class="custom-lbl">Base Year</label>

            <select id="base_year" class="form-control inpt-cmn" placeholder="Select Base Month" [(ngModel)]="BaseYear">
              <option *ngFor="let baseyear of baseyearval" [value]="baseyear">
                {{ baseyear }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7" style="margin-top: 2rem">
          <button type="button" class="btn custombtn" (click)="Submit()" style="float: right">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
